.zoomable {
  max-width: 100%;
  width: 80%;
  cursor: pointer;
  transition: height 0.3s ease;
}

.zoomable.zoomed {
  width: 150% !important;
}

body {
  font-size: 24px; /* ?�m��??�����r�^�j�p */
}

p {
  font-size: 1em; /* ?�m�q�����r�^�j�p */
}

h1 {
  font-size: 24px; /* ?�m�@???���r�^�j�p */
}

h2 {
  font-size: 20px; /* ?�m�G???���r�^�j�p */
}