.zoomable {
  max-width: 100%;
  width: 80%;
  cursor: pointer;
  transition: height 0.3s ease;
}
.zoomable.zoomed {
  width: 150% !important;
}
body {
  font-size: 18px;
}
p {
  font-size: 1em;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
.content h2 {
  font-size: 24px !important;
}
.content h3 {
  font-size: 20px !important;
}
.content h2:before {
  content: "" !important;
}